{% extends 'base.html.twig' %}

{% block title %}Acceuil | SmartCampus{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="{{ asset('css/landingPage.css') }}">

<h1><span style="font-weight: 800">SMART</span><span style="font-weight: 200">CAMPUS</span></h1>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="page-wrapper d-flex align-items-center justify-content-center">
    <div class="mx-4 col" style="text-align: right; max-width: 500px">
        <h2>VOUS ETES TECHNICIEN ?</h2>
        <p>IDENTIFIEZ VOUS POUR ADMINISTRER LES INSTALLATIONS</p>

        <input type="text" placeholder="Identifiant">
        <input type="text" placeholder="Mot de passe">
        <button>SE CONNECTER</button>
    </div>
    <div class="mx-4 col" style="max-width: 500px">
        <h2>VOUS ETES ETUDIANT OU ENSEIGNANT ?</h2>
        <p>IDENTIFIEZ VOUS POUR CONSULTER LES DONNEES EN TEMPS REEL</p>

        <input type="text" placeholder="Identifiant">
        <button>SE CONNECTER</button></div>
    </div>
</div>
{% endblock %}
