{% extends 'base.html.twig' %}

{% block title %}Acceuil | SmartCampus{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="{{ asset('css/landingPage.css') }}">

<h1><span style="font-weight: 800">SMART</span><span style="font-weight: 200">CAMPUS</span></h1>

<div class="page-wrapper d-flex align-items-center row">
        <div class="col mx-4 text-end">
            <h2>VOUS ETES TECHNICIEN ?</h2>
            <p>IDENTIFIEZ VOUS POUR ADMINISTRER LES INSTALLATIONS</p>

            <input type="text" placeholder="Identifiant">
            <input type="text" placeholder="Mot de passe">
            <button>SE CONNECTER</button>
        </div>
        <div class="col mx-4">
            <h2>VOUS ETES ETUDIANT OU ENSEIGNANT ?</h2>
            <p>IDENTIFIEZ VOUS POUR CONSULTER LES DONNEES EN TEMPS REEL</p>

            <input type="text" placeholder="Identifiant">
            <button>SE CONNECTER</button></div>
        </div>
    
</div>
{% endblock %}
