{% extends 'base.html.twig' %}

{% block title %}Tech Dashboard{% endblock %}

{% block body %}
<div class="d-flex flex-column" style="height: 100vh">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/techDashboard.css') }}">


    {% include 'components/navbar.html.twig' %}

    <div class="title-bar d-flex align-items-center justify-content-center">

        <span class="dashboard-title">Tableau de bord - Technicien</span>

    </div>

    <!-- Alertes -->
    {% include 'components/tech/techAlertsList.html.twig' %}
    {% include 'components/flashAlerts.html.twig' %}

    <div class="d-flex flex-grow-1 overflow-hidden">
        <!-- Liste des systèmes d'acquisition -->
        {% include 'components/acquisitionSystemList.html.twig' %}

        <!-- Liste des opérations -->
        {% include 'components/tech/operationList.html.twig' %}

        {# Notifications #}
        {% include 'components/tech/notificationsList.html.twig'%}
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
