{% set onRoomPage = app.request.attributes.get('_route') == 'app_room' %}

{% extends 'base.html.twig' %}

{% block title %}
    {% if onRoomPage %}
        Salle - {{ room.name }}
    {% else %}
        Acceuil | SmartCampus
    {% endif %}
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/userDashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('css/roomData.css') }}">
    
    <div>
    
        {% include 'components/navbar.html.twig' %}

        <div class="d-flex flex-nowrap">
            {% include 'components/roomList.html.twig' %}

            {% if onRoomPage %}
                {% include 'components/default/userRoomDetails.html.twig' %}
            {% else %}
                <div class="d-flex col-8 panel shadow justify-content-center align-items-center">
                    <h1 class="font-weight-bold" style="user-select: none;">Veuillez cliquer sur une salle pour plus de détails !</h1>
                </div>
            {% endif %}

            {% include 'components/externalData.html.twig' %}

        </div>

    </div>


{% endblock %}