{% block body %}
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

<div class="container-fluid">
    <nav class="bg-transparent text-white">
        <ul class="list-unstyled text-center py-3">
            <li>
                <a href="#">
                     style="max-width: 50px;">
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}