<div class="panel shadow mt-4">
    <div class="mt-2">
        <h2>Toutes les données</h2>
        <table class="table table-stripe">
            <thead class="thead-dark">
                <tr>
                    <th>Date de Capture</th>
                    <th>Température (°C)</th>
                    <th>CO2 (ppm)</th>
                    <th>Humidité (%)</th>
                </tr>
            </thead>
            <tbody>
                {% set dataByDate = {} %}
                {% for value in data %}
                    {% set currentDate = value.dateCapture|date('Y-m-d H:i:s') %}
                    {% if attribute(dataByDate, currentDate) is not defined %}
                        {% set dataByDate = dataByDate|merge({(currentDate): {'temp': null, 'co2': null, 'hum': null, (value.nom): value.valeur}}) %}
                    {% else %}
                        {% set currentData = attribute(dataByDate, currentDate) %}
                        {% set currentData = currentData|merge({(value.nom): value.valeur}) %}
                        {% set dataByDate = dataByDate|merge({(currentDate): currentData}) %}
                    {% endif %}
                {% endfor %}

                {% for currentDate, values in dataByDate %}
                    <tr>
                        <td>{{ currentDate }}</td>
                        <td>{{ values['temp'] is not null ? values['temp'] ~ ' °C' : 'N/A' }}</td>
                        <td>{{ values['co2'] is not null ? values['co2'] ~ ' ppm' : 'N/A' }}</td>
                        <td>{{ values['hum'] is not null ? values['hum'] ~ ' %' : 'N/A' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune donnée disponible.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
