{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">

{% endblock %}

<div class="sidebar">
    <div>
        <a href="{{ path('app_index') }}" class="icon"><img src="{{ asset('images/logo.png') }}" alt="Logo"/></a>
        
    </div>
    <div>
        <a href="{{ path('app_logout') }}" class="icon" style="color: white"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a>
    </div>
</div>