{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/alerts.css') }}">

{% endblock %}

<div class="panel alert-panel shadow">
    <span class="fs-5">Alertes</span>
    <div id="loading" class="d-flex justify-content-center align-items-center" style="height: 100%">
        <span class="visually-hidden mr-2">Chargement...</span>
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>
    <div id="alerts" class="row px-2 mt-2" style="display: none">
        <div id="no-alert" class="col-12 d-flex justify-content-center align-items-center">
            <p class="text-center">Aucune alerte</p>
        </div>
    </div>
</div>


<script>
    function getAlerts() {
        document.getElementById('loading').style.display = 'flex';
        $.ajax({
            url: "{{ path('api_get_last_values') }}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                // si la requête est un succès, on met à jour les valeurs des salles
                updateAlerts(data);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    }

    function updateAlerts(data) {
        document.getElementById('loading').style.display = 'none';
        document.getElementById('loading').classList.remove('d-flex');
        document.getElementById('alerts').style.display = 'flex';

        for (const salle in data) {
            const temp = parseFloat(data[salle].temp.valeur);
            const humidity = parseFloat(data[salle].humidity.valeur);
            const co2 = parseInt(data[salle].co2.valeur);;

             // Conditions pour les alertes
            let alertColor = '';

            if (temp < 0 || temp > 60) {
                alertColor = 'alert-red';
            }

            if (humidity < 0 || humidity > 100) {
                alertColor = 'alert-red';
            }

            if (co2 < 0 || co2 > 4000) {
                alertColor = 'alert-red';
            }

            // Affichage de l'alerte si nécessaire
            if (alertColor !== '') {
                const alert = document.createElement('div');
                alert.id = 'alert-' + salle;
                alert.classList.add('alert', 'mt-2', 'mx-1', 'p-0', 'border-0', alertColor, 'd-flex');
                alert.style.cursor = 'pointer';
                alert.innerHTML = '<div class="icon-container p-2"><i class="fa-solid fa-triangle-exclamation fa-xl"></i></div><div class="room-name d-flex justify-content-center align-items-center"><p>' + salle + '</p></div>';
                document.getElementById('alerts').appendChild(alert);
                document.getElementById('no-alert').classList.remove('d-flex');
                document.getElementById('no-alert').style.display = 'none';
            }
        }

    }

    document.addEventListener('DOMContentLoaded', function () {
        getAlerts();
    });
</script>