{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/userNavbar.css') }}">

{% endblock %}

<div class="navbar">
    <img src="{{ asset('images/smartlogo/logo_3.png') }}"  alt="Logo" height="80">
    <a href="{{ path('app_index') }}"><img src="{{ asset('svg/login.svg') }}" class="login" alt="Login" width="50" height="50"></a>
</div>
