body {
    background-color: #DFDFDF;
    font-weight: 500;
}

.value-container {
    
    color: white;
    height: 100px;
    width: 300px;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}

.value-container .icon-container {
    width: 100px;
    height: 100px;
}

.value-container .value {
    width: 200px;
    padding: 12px;
    font-size: 16pt;
    font-weight: 600;
}

.normal {
    background-color: #55efc4;
}

.orange {
    background-color: #fdcb6e;
}

.red {
    background-color: #ff7675;
}

.normal .icon-container {
    background-color: #00b894;
}

.orange .icon-container {
    background-color: #fd7e14;
}

.red .icon-container {
    background-color: #d63031;
}