body {
    background-color: #DFDFDF;
    font-weight: 500;
}

h2 {
    background-color: white;
    padding: 8px;
    font-size: 22pt;
}

.temp {
    background-color: #ff7675;
}

.temp .icon-container {
    background-color: #d63031;
    width: 100px;
    height: 100px;
}

.temp .temp-value {
    width: 200px;
    padding: 12px;
    font-size: 16pt;
    font-weight: 600;
}

.humidity {
    background-color: #636E72;
}

.humidity .icon-container {
    background-color: #2D3436;
    width: 100px;
    height: 100px;
}

.humidity .humidity-value {
    width: 200px;
    padding: 12px;
    font-size: 16pt;
    font-weight: 600;
}

.co2 {
    background-color: #55EFC4;
}

.co2 .icon-container {
    background-color: #00B894;
    width: 100px;
    height: 100px;
}

.co2 .co2-value {
    width: 200px;
    padding: 12px;
    font-size: 16pt;
    font-weight: 600;
}

/* pour temp humidy et cO2 fait la meme chose */
.temp, .humidity, .co2
{
    color: white;
    height: 100px;
    width: 300px;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}
