* {
  font-family: "Montserrat";
}

body {
  background-color: #dfdfdf;
  font-weight: 500;
}

.panel {
  border-top: #00b894 6px solid;
  background-color: #fff;
  padding: 8px 16px;
  margin: 8px;
}

.content {
  overflow-y: scroll;
}

/* buttons */

.back {
  padding: 8px 16px;
  margin: 8px;
}

.btn-custom-success {
  background-color: #00b894;
  border-color: #00b894;
  color: #fff;
}

.btn-custom-success:hover {
  background-color: #55efc4;
  border-color: #55efc4;
  color: #fff;
}

.btn-custom-secondary {
  background-color: #00b894;
  border-color: #00b894;
  color: #fff;
}

.btn-custom-secondary:hover {
  background-color: #55efc4;
  border-color: #55efc4;
  color: #fff;
}

.btn-custom-danger {
  background-color: #d63031;
  border-color: #d63031;
  color: #fff;
}

.btn-custom-danger:hover {
  background-color: #ff7675;
  border-color: #ff7675;
  color: #fff;
}

/* end buttons */

/* form */

.custom-btn {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
}

.custom-btn-primary {
  background-color: #0984e3;
  color: #fff;
}

.custom-btn-primary:hover {
  background-color: #74b9ff;
  color: #fff
}

.custom-btn-danger {
  background-color: #d63031;
  color: #fff;
}

.custom-btn-danger:hover {
  background-color: #f23f3f;
  color: #fff
}

.rounded-panel {
  border-radius: 15px;
  overflow: hidden;
}

/* end form */

/* header */

.title-bar {
  background-color: white;
  font-size: 15pt;
  text-align: center;
}

.title-bar .dashboard-title {
  padding: 8px;
  font-size: 20pt;
}

.fixed-title-bar {
  border-bottom: black 1px solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
}

/* responsive for roomData page */

@media (max-width: 1400px) {
  .text-button {
    display: none !important;
  }
}

/* end header */

/* Room List & AS List */

.lists ul {
  list-style: none;
  padding: 0;
}

.lists li {
  background-color: #f0f0f0;
  padding: 8px 16px;
  border-radius: 8px;
  border-left: #00b894 8px solid;
  margin: 4px 0;
  transition: 0.15s;
}

.red-border {
  border-left: #d63031 8px solid !important;
}

.lists li:hover {
  background-color: #f0f0f0;
  transition: 0.15s;
}

a:hover {
  text-decoration: none;
}

.lists li.highlighted {
  background-color: #00b894;
  border: black 1px solid;
}

/* end Room List & AS List */
