body {
  background-color: #dfdfdf;
  font-weight: 500;
}

h2 {
  background-color: white;
  padding: 8px;
  font-size: 22pt;
}

.listes ul {
  list-style: none;
  padding: 0;
}

.listes li {
  background-color: #dfdfdf;
  padding: 8px 16px;
  border-radius: 8px;
  border-left: #00b894 8px solid;
  margin: 4px 0;
  transition: 0.15s;
}

.red-border {
  border-left: #d63031 8px solid !important;
}

.listes li:hover {
  background-color: #f0f0f0;
  transition: 0.15s;
}

.alerte {
  color: white;
  background-color: #ff7675;
  display: flex;
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
}

.alerte .room-name {
  line-height: 60px;
  padding: 0 12px;
  font-size: 16pt;
  font-weight: 600;
}

.acquisition-system button {
  opacity: 0;
}

.acquisition-system:hover button {
  opacity: 1;
}
